In [1]:
import os
import pandas as pd
import numpy as np
from unidecode import unidecode
import csv

In [2]:
#ustawienie
czy_sparklines = True

In [3]:
#path = "J:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/dane_do_analizy/2022_all/"

# path work
#path = "C://Users//tcwik//Documents//Python_Scripts//cepik//dane//producenci//dane//"
#output_path ="C://Users//tcwik//Documents//Python_Scripts//cepik//dane//producenci//output//"

# path home
path = "D:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/dane_do_analizy/agregated/rodzaj_paliwa/"
output_path =path + "output/"
#path_tablice = "J:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/dane_do_analizy/001_tablice_pomocnicze/"


#J:\Dokumenty\Tomek\Data_science\Cepik\nowe_samochody\dane_do_analizy\dynamika\producenci

file_name = "001_rodzaj_paliwa.csv"
#output_path = "J:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/2022/2022_result_total"
print ("path:" + path)
print ("output path:" + output_path)

path:J:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/dane_do_analizy/agregated/rodzaj_paliwa/
output path:J:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/dane_do_analizy/agregated/rodzaj_paliwa/output/

In [4]:
try: 

    os.makedirs (output_path + "/csv")
    os.makedirs (output_path + "/xls")

except Exception:
    print("dic: ", output_path, "aready exist" )

dic:  J:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/dane_do_analizy/agregated/rodzaj_paliwa/output/ aready exist

In [5]:
files = [file for file in os.listdir(path) if os.path.isfile(os.path.join(path,file))] # Ignore hidden files

all_data = pd.DataFrame()
current_data = pd.DataFrame()

for file in files:

    
    print (path + file)
    current_data = pd.read_csv(path+file)
    
    current_data['rok'] = 'rok ' + file[-8:-4] 
    #current_data['rok'] = 'new Date(' + file[-8:-4] + ',01)'
    #current_data['rok'] = '' + file[-8:-4] + '-01-01'
    
    
    all_data = pd.concat([all_data, current_data])


all_data.to_csv(output_path + file_name , index=False)
c=all_data

J:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/dane_do_analizy/agregated/rodzaj_paliwa/rodzaj_paliwa_2018.csv
J:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/dane_do_analizy/agregated/rodzaj_paliwa/rodzaj_paliwa_2019.csv
J:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/dane_do_analizy/agregated/rodzaj_paliwa/rodzaj_paliwa_2020.csv
J:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/dane_do_analizy/agregated/rodzaj_paliwa/rodzaj_paliwa_2021.csv
J:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/dane_do_analizy/agregated/rodzaj_paliwa/rodzaj_paliwa_2022.csv
J:/Dokumenty/Tomek/Data_science/Cepik/nowe_samochody/dane_do_analizy/agregated/rodzaj_paliwa/rodzaj_paliwa_2023.csv

In [6]:
cg = c.groupby(['rodzaj_pojazdu','rodzaj_paliwa','rok'], axis = 0, as_index=False).sum()
#cc_producenci.groupby(['wojewodztwo','marka','rodzaj_pojazdu'],as_index=False).sum()

    
t = pd.pivot_table(cg, values='liczba_pojazdow', index = ['rodzaj_pojazdu','rok'], columns ='rodzaj_paliwa', aggfunc=np.sum)
t.fillna(0)
t1 = t[['BENZYNA','OLEJ NAPĘDOWY','ENERGIA ELEKTRYCZNA']]
tt = t1.reset_index()
tt = tt.fillna(0)


# # zaogrląglanie danych do intg
# lata = ['2018','2019','2020','2021','2022','2023']
# for rok in lata:
#     tt[rok] = tt[rok].astype('int64')

# tt = tt.fillna(0)

# zapianie całej tabeli




# #Obliczanie procentów
# lata = ['2019','2020','2021','2022','2023']
# for rok in lata:
#     rokproc = str(rok) + "%"
#     rok_b = str(rok)
#     rok_1 = str(int(rok)-1)
#     tt[rokproc] = round(((tt[rok_b]/tt[rok_1])-1)*100,1)
     
    
# # fill na sorting   
# tt = tt.fillna(0)
# tt = tt.sort_values(by = ['2023','2022','2021','2020'], ascending = False)
# #columns_to_int = ['2023','2022','2021','2020','2019','2018']
# #columns_to_int_p = ['2023%','2022%','2021%','2020%','2019%']

# # Columns order

# tc_columns = ['rodzaj_pojazdu', 'marka', '2018', '2019', '2020', '2021', '2022','2023', '2019%', '2020%', '2021%', '2022%', '2023%']

# # Sparklines
# if czy_sparklines == True:
#     #tt['sparkline'] = '<span style = "float: right" class="inlinesparkline">' + tt['2018'].astype(str) +','+ tt['2019'].astype(str) +','+ tt['2020'].astype(str) +','+ tt['2021'].astype(str) +','+ tt['2022'].astype(str) + '</span>' 
#     tt['sparkline'] = tt['2018'].astype(str) +','+ tt['2019'].astype(str) +','+ tt['2020'].astype(str) +','+ tt['2021'].astype(str) +','+ tt['2022'].astype(str)
#     tt['sparkline'] = tt['sparkline'].astype(str)
#     tc_columns = ['rodzaj_pojazdu', 'marka', 'sparkline', '2018', '2019', '2020', '2021', '2022','2023', '2019%', '2020%', '2021%', '2022%', '2023%'   ]

# # re-arrange colums order

# tt = tt[tc_columns]

In [7]:
tt.to_csv(

            path_or_buf = output_path + "csv/" + "stuktura_paliwa_total"+".csv", 
            index = False,
            sep = ",",
            encoding = 'utf-8',
            quoting=csv.QUOTE_NONE, quotechar=" ",  escapechar="\\"


            )

In [8]:
# lista kategorii w rodzaj_pojazdu
rodzaje_pojazdow = tt.rodzaj_pojazdu.unique().tolist()

for kategoria in rodzaje_pojazdow:
    
    kat_to_save = kategoria.replace(" ", "_")
    kat_to_save = unidecode(kat_to_save)
    kat_to_save = kat_to_save.lower()
    
    
    tcat = tt.loc[tt['rodzaj_pojazdu'] == kategoria]
    tcat = tcat.drop('rodzaj_pojazdu', axis=1)
    tcat.to_csv(
                
                path_or_buf = output_path + "csv/" + "stuktura_paliwa_" +kat_to_save +".csv", 
                index = False,
                sep = ",",
                encoding = 'utf-8',
                quoting=csv.QUOTE_NONE, quotechar=" ",  escapechar="\\"
                
                
                )
    print (kat_to_save ,"_dynamika.csv", " saved")
    tcat.to_excel(
                output_path + "xls/" +  "stuktura_paliwa_" + kat_to_save + ".xlsx", 
                index = False,
                encoding = 'utf-8',
        
                )
    print (kat_to_save ,"_dynamika.xlsx", " saved")

autobus _dynamika.csv  saved
autobus _dynamika.xlsx  saved
ciagnik_rolniczy _dynamika.csv  saved
ciagnik_rolniczy _dynamika.xlsx  saved
ciagnik_rolniczy-kolejka_turystyczna _dynamika.csv  saved
ciagnik_rolniczy-kolejka_turystyczna _dynamika.xlsx  saved
ciagnik_samochodowy _dynamika.csv  saved
ciagnik_samochodowy _dynamika.xlsx  saved
motocykl _dynamika.csv  saved
motocykl _dynamika.xlsx  saved
motorower _dynamika.csv  saved
motorower _dynamika.xlsx  saved
naczepa_ciezarowa _dynamika.csv  saved
naczepa_ciezarowa _dynamika.xlsx  saved
naczepa_specjalna _dynamika.csv  saved
naczepa_specjalna _dynamika.xlsx  saved
pojazd_wolnobiezny-kolejka_turystyczna _dynamika.csv  saved
pojazd_wolnobiezny-kolejka_turystyczna _dynamika.xlsx  saved
przyczepa_ciezarowa _dynamika.csv  saved
przyczepa_ciezarowa _dynamika.xlsx  saved
przyczepa_ciezarowa_rolnicza _dynamika.csv  saved
przyczepa_ciezarowa_rolnicza _dynamika.xlsx  saved
przyczepa_lekka _dynamika.csv  saved
przyczepa_lekka _dynamika.xlsx  saved
przyczepa_specjalna _dynamika.csv  saved
przyczepa_specjalna _dynamika.xlsx  saved
przyczepa-kolejka_turystyczna _dynamika.csv  saved
przyczepa-kolejka_turystyczna _dynamika.xlsx  saved
samochodowy_inny _dynamika.csv  saved
samochodowy_inny _dynamika.xlsx  saved
samochod_ciezarowy _dynamika.csv  saved
samochod_ciezarowy _dynamika.xlsx  saved
samochod_osobowy _dynamika.csv  saved
samochod_osobowy _dynamika.xlsx  saved
samochod_specjalny _dynamika.csv  saved
samochod_specjalny _dynamika.xlsx  saved
trolejbus _dynamika.csv  saved
trolejbus _dynamika.xlsx  saved

In [9]:
c.describe()

       liczba_pojazdow
count    211304.000000
mean         15.286682
std          75.750650
min           1.000000
25%           1.000000
50%           2.000000
75%           7.000000
max        6745.000000

In [10]:
len(all_data)

211304

NameError: name 'osobwe' is not defined

In [ ]:
all_data['rodzaj-pojazdu'].unique()